

/* style main form */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.pdetailsmain{
  /* margin-left: 50px; */
}

.pdetailsheading{
font-family: sans-serif;
  margin: auto;
  text-align: center;
  padding: 15px;
  padding-bottom: 30px;
}

/* style for contrect component */


/* app.jsx style */
.mainform{
  background-color: #fdfefe;
}

body{
  background-color: #EAEDED;
  font-family: sans-serif;
}


/* style for dropdown */




/* style for indivisual */

.inputstyle{
  display:flex;
  flex-Direction:row;
  /* justify-content: space-evenly; */
  margin-left: 200px;
  margin-top: -16px;
}
.inputstywork{
  display: flex;
  flex-direction: row;
  margin-left: 105px;
}

.optionclass{
  margin-left: -620px;
  margin-top: 50px;
  width: 1200px;
  padding: 20px;
  border-radius: 20px;
}
.inputfirst{
 
 margin-left: 200px;
}


